<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ChatGPT Clone in JavaScript | CodingNepal</title>
    <link rel="stylesheet" href="../static/index.css">
    <!-- Fügen Sie diese Zeile in den <head> Ihres HTML-Dokuments ein -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <script type="text/javascript">
      const HOST_URL = "{{ host_url_from_flask }}";
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="../static/index.js" defer></script>

  </head>
  <body>
    <!-- Chats container -->
    <div class="chat-container"></div>
    
    <!-- Typing container -->
    <div class="typing-container">
      <div class="typing-content">
        <div class="typing-textarea">
          <textarea id="chat-input" spellcheck="false" placeholder="Eine Nachricht senden" required></textarea>
          <span id="send-btn" class="material-symbols-rounded">send</span>
        </div>
        <div class="typing-controls">
          <span id="delete-btn" class="material-symbols-rounded">delete</span>
      </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  </body>
</html>